<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="styles.css">

        <!-- =====BOX ICONS===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Satganz Devs</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="https://youtube.com/channel/UCds9j7uCwYoRoXFd1syKQmQ" class="nav__logo">Satganz Devs</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                        <li class="nav__item"><a href="https://satganzresapi.herokuapp.com" class="nav__link">Rest-Api's</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">SatganzDevs</span><br> Web Designer</h1>

                    <a href="#contact" class="button">Contact</a>
                </div>

                <div class="home__social">
                    <a href="https://github.com/SatzzBotzz" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

                <div class="home__img">
                    <svg class="home__blob" viewBox="0 0 479 467" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                            <image class="home__blob-img" x="50" y="60" href="perfil.png"/>
                        </g>
                    </svg>
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="about.jpg" alt="Satganz Devs">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'am SatganzDevs</h2>
                        <p class="about__text">halo!, Saya Kurniawansatria (SatganzDevs), Saya umur 15, tinggal di pekanbaru saya terjun ke dunia programer karna saya tertarik dengan membuat sesuatu yang kita mau di programmer👨‍💻 </p>           
                    </div>                                   
                </div>
            </section>

             <!--===== OTHER =====-->
            <section class="other section" id="other">
                <h2 class="section-title">Other</h2>
                    <a href="#project" class="btn fourth">WhatsApp Bot Project</a>
                    <a href="#shop" class="btn fourth">Shop</a>
                    <a href="https://satganzresapi.herokuapp.com" class="btn fourth">REST-API's</a>
                    </a>
            </section>
        </main>
        
            <!--===== PROJECT =====-->
            <section class="project section" id="project">
                <h2 class="section-title">WhatsApp Bot Project</h2>
                <a href="https://github.com/SatzzBotzz/Hinata-Hyuga-Md" class="btn third">V1</a>
                <a href="https://github.com/SatzzBotzz/Hinata-Md-Update" class="btn third">V2</a>
                <a href="https://github.com/SatzzBotzz/SatganzDevs" class="btn third">V3</a>
                <a href="https://github.com/SatzzBotzz/Hinata--MdV5" class="btn third">V4</a>
                
                <!--===== SHOP =====-->
            <section class="shop section" id="shop">
                <h2 class="section-title">My Little Shop</h2>
                <main class="main bd-grid">
            <article class="card">
                <div class="card__img">
                    <img src="https://www6.flamingtext.com/net-fu/proxy_form.cgi?&imageoutput=true&script=fluffy-logo&doScale=true&scaleWidth=800&scaleHeight=500&fontsize=100&text=SEWABOT" alt="">
                </div>
                <div class="card__satgnz">
                    <p class="title-shop">SEWABOT</p>
                </div>
                <div class="card__precis">
                    <a href=https://api.whatsapp.com/send/?phone=6281316701742&text=Hi+SatganzDevs+I+want+to+buy+one+of+your+products&type=phone_number&app_absent=0"" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
                    
                    <div>
                        <span class="card__preci card__preci--before">Rp. 10.000</span>
                        <span class="card__preci card__preci--now">Rp.  5.000</span>
                    </div>
                    <a href="https://api.whatsapp.com/send/?phone=6281316701742&text=Hi+SatganzDevs+I+want+to+buy+one+of+your+products&type=phone_number&app_absent=0" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
                </div>
            </article>
            </main>
            <main class="main bd-grid">
            <article class="card">
                <div class="card__img">
                    <img src="https://www6.flamingtext.com/net-fu/proxy_form.cgi?&imageoutput=true&script=fluffy-logo&doScale=true&scaleWidth=800&scaleHeight=500&fontsize=100&text=JASA+RUNNING" alt="">
                </div>
                <div class="card__satgnz">
                    <p class="title-shop">JASA RUN</p>
                </div>
                <div class="card__precis">
                    <a href="https://api.whatsapp.com/send/?phone=6281316701742&text=Hi+SatganzDevs+I+want+to+buy+one+of+your+products&type=phone_number&app_absent=0" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
                    
                    <div>
                        <span class="card__preci card__preci--before">Rp. 15.000</span>
                        <span class="card__preci card__preci--now">Rp.  15.000</span>
                    </div>
                    <a href="https://api.whatsapp.com/send/?phone=6281316701742&text=Hi+SatganzDevs+I+want+to+buy+one+of+your+products&type=phone_number&app_absent=0" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
                </div>
            </article>
            </main>
            <main class="main bd-grid">
            <article class="card">
                <div class="card__img">
                    <img src="https://www6.flamingtext.com/net-fu/proxy_form.cgi?&imageoutput=true&script=fluffy-logo&doScale=true&scaleWidth=800&scaleHeight=500&fontsize=100&text=SCRIPT+BOT+WHATSAPP" alt="">
                </div>
                <div class="card__satgnz">
                    <p class="title-shop">SCRIPT BOT WHATSAPP</p>
                </div>
                <div class="card__precis">
                    <a href="https://api.whatsapp.com/send/?phone=6281316701742&text=Hi+SatganzDevs+I+want+to+buy+one+of+your+products&type=phone_number&app_absent=0" class="card__icon" ><ion-icon name="heart-outline"></ion-icon></a>
                    
                    <div>
                        <span class="card__preci card__preci--before">Rp. 15.000</span>
                        <span class="card__preci card__preci--now">Rp.  15.000</span>
                    </div>
                    <a href="https://api.whatsapp.com/send/?phone=6281316701742&text=Hi+SatganzDevs+I+want+to+buy+one+of+your+products&type=phone_number&app_absent=0" class="card__icon"><ion-icon name="cart-outline"></ion-icon></a>
                </div>
            </article>
            </main>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">TESTIMONIAL</h2>

                <div class="work__container bd-grid">
                    <a href="" class="work__img">
                        <img src="work1.jpg" alt="Satganz Devs">
                    </a>
                    <a href="" class="work__img">
                        <img src="https://www6.flamingtext.com/net-fu/proxy_form.cgi?&imageoutput=true&script=fluffy-logo&doScale=true&scaleWidth=800&scaleHeight=500&fontsize=100&text=LUPA+SS" alt="Satganz Devs">
                    </a>
                    <a href="" class="work__img">
                        <img src="https://www6.flamingtext.com/net-fu/proxy_form.cgi?&imageoutput=true&script=fluffy-logo&doScale=true&scaleWidth=800&scaleHeight=500&fontsize=100&text=LUPA+SSg" alt="Satganz Devs">
                    </a>
                    <a href="" class="work__img">
                        <img src="https://www6.flamingtext.com/net-fu/proxy_form.cgi?&imageoutput=true&script=fluffy-logo&doScale=true&scaleWidth=800&scaleHeight=500&fontsize=100&text=LUPA+SSg" alt="Satganz Devs">
                    </a>
                    <a href="" class="work__img">
                        <img src="https://www6.flamingtext.com/net-fu/proxy_form.cgi?&imageoutput=true&script=fluffy-logo&doScale=true&scaleWidth=800&scaleHeight=500&fontsize=100&text=LUPA+SS" alt="Satganz Devs">
                    </a>
                    <a href="" class="work__img">
                        <img src="https://www6.flamingtext.com/net-fu/proxy_form.cgi?&imageoutput=true&script=fluffy-logo&doScale=true&scaleWidth=800&scaleHeight=500&fontsize=100&text=LUPA+SS" alt="Satganz Devs">
                    </a>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                        <textarea name="Note" id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="button" value="Send" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">SatganzDevs</p>
            <div class="footer__social">
                <a href="https://wa.me/6281316701742?text=https://github.com/SatzzBotzz" class="footer__icon"><i class='bx bxl-whatsapp' ></i></a>
                <a href="https://instagram.com/kurniawansatria_24" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://github.com/SatzzBotzz" class="footer__icon"><i class='bx bxl-github' ></i></a>
            </div>
            <p class="footer__copy">&#169; SatganzDevs. All rigths reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>
<!--===== ICON =====-->
	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
        <!--===== MAIN JS =====-->
        <script src="script.js"></script>
    </body>
</html>
